html, body {
    font-family: 'Lato', sans-serif;
}

li {
    line-height: 17px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 36px;
    margin-left: 11px;
}

.nav-link {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.p-3 {
    font-weight: normal;
    font-size: 13px;
}
