.bg-w_logo {
    width: 50px; height: 50px;
    background: url('../img/icons/css_sprites.png') -80px -304px;
}

.bg-w_mobile {
    width: 11px; height: 21px;
    background: url('../img/icons/css_sprites.png') -416px -208px;
}

.bg-w_clock {
    width: 17px; height: 17px;
    background: url('../img/icons/css_sprites.png') -416px -134px;
}

.bg-w_letter {
    width: 17px; height: 13px;
    background: url('../img/icons/css_sprites.png') -416px -282px;
}

.bg-w_geo {
    width: 17px; height: 17px;
    background: url('../img/icons/css_sprites.png') -416px -171px;
}
