.slider-wrapper {
    position: absolute;
    top: 0;
    overflow: hidden;
}

.slider-item {
    /*height: 780px;*/
}

img {
    /*height: 100%;*/
}

.slick-track {
    display: flex;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
}

.arrow-wrapper {
    display: flex;
    position: absolute;
    top: 639px;
    z-index: 2000;
}

.slick-arrow {
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    width: 67px; height: 70px;
    background: url('../img/icons/css_sprites.png') -304px -122px;
}

.slick-arrow:active {
    outline: none;
}

.slick-arrow:focus {
    outline: none;
}

.slick-next {
    transform: rotate(180deg);
}

.slick-next:hover {
    background: url('../img/icons/css_sprites.png') -304px -212px;
    transform: none;
}

.slick-prev:hover {
    background: url('../img/icons/css_sprites.png') -304px -212px;
    transform: rotate(180deg);
}


.slick-arrow :hover {
    background: url('../img/icons/css_sprites.png') -304px -212px;
}
